@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --color-crema-claro: #FEFAE0;
  --color-beige-claro: #EFDCAC;
  --color-durazno-suave: #D4A373;
  --color-naranja-tostado: #BC6C25;
  --color-verde-oliva: #606C38;
  --color-verde-oscuro: #45462A;
  --color-verde-pino: #26603F;


  /* Gradientes entre crema y otros colores */
  --gradient-crema-beige: linear-gradient(to right, #FEFAE0, #EFDCAC);
  --gradient-crema-durazno: linear-gradient(to right, #FEFAE0, #D4A373);
  --gradient-crema-naranja: linear-gradient(to right, #FEFAE0, #BC6C25);
  --gradient-crema-oliva: linear-gradient(to right, #FEFAE0, #606C38);
  --gradient-crema-verde-oscuro: linear-gradient(to right, #FEFAE0, #45462A);

  /* Gradientes entre beige y otros colores */
  --gradient-beige-durazno: linear-gradient(to right, #EFDCAC, #D4A373);
  --gradient-beige-naranja: linear-gradient(to right, #EFDCAC, #BC6C25);
  --gradient-beige-oliva: linear-gradient(to right, #EFDCAC, #606C38);
  --gradient-beige-verde-oscuro: linear-gradient(to right, #EFDCAC, #45462A);

  /* Gradientes entre durazno y otros colores */
  --gradient-durazno-naranja: linear-gradient(to right, #D4A373, #BC6C25);
  --gradient-durazno-oliva: linear-gradient(to right, #D4A373, #606C38);
  --gradient-durazno-verde-oscuro: linear-gradient(to right, #D4A373, #45462A);

  /* Gradientes entre naranja y otros colores */
  --gradient-naranja-oliva: linear-gradient(to right, #BC6C25, #606C38);
  --gradient-naranja-verde-oscuro: linear-gradient(to right, #BC6C25, #45462A);

  /* Gradientes entre oliva y verde oscuro */
  --gradient-oliva-verde-oscuro: linear-gradient(to right, #606C38, #45462A);
}

/* Clases de color de fondo */
.bg-crema-claro {
  background-color: var(--color-crema-claro);
}

.bg-beige-claro {
  background-color: var(--color-beige-claro);
}

.bg-durazno-suave {
  background-color: var(--color-durazno-suave);
}

.bg-naranja-tostado {
  background-color: var(--color-naranja-tostado);
}

.bg-verde-oliva {
  background-color: var(--color-verde-oliva);
}

.bg-verde-oscuro {
  background-color: var(--color-verde-oscuro);
}
.bg-verde-pino {
  background-color: var(--color-verde-pino);
}

/* Clases de color de texto */
.text-crema-claro {
  color: var(--color-crema-claro);
}

.text-beige-claro {
  color: var(--color-beige-claro);
}

.text-durazno-suave {
  color: var(--color-durazno-suave);
}

.text-naranja-tostado {
  color: var(--color-naranja-tostado);
}

.text-verde-oliva {
  color: var(--color-verde-oliva);
}

.text-verde-oscuro {
  color: var(--color-verde-oscuro);
}
.text-verde-pino {
  color: var(--color-verde-pino);
}

body {
  background-color: var(--color-crema-claro);
  font-family: Roboto, sans-serif;
}

.navbar .nav-link {
  color: var(--color-crema-claro);
  /* text-transform: uppercase; */
}

.navbar .nav-link.active {
  color: var(--color-beige-claro);
  font-weight: bold;
}

.navbar-collapse { 
  flex-grow: 0; 
}

.navbar-toggler{
  border: 1px solid var(--color-crema-claro);
}
.navbar-toggler:hover{
  background-color: var(--color-crema-claro);
}
.navbar-toggler:hover > i{
  color: var(--color-verde-oscuro);
}
.navbar .input-search{
  width: 30%;
}

.navbar-nav {
  align-items: flex-end;
}
/* 
.divider-list{
  border-bottom: 1px solid var(--color-verde-oscuro);
  width: 100%;
} */