@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --color-crema-claro: #FEFAE0;
  --color-beige-claro: #EFDCAC;
  --color-durazno-suave: #D4A373;
  --color-naranja-tostado: #BC6C25;
  --color-verde-oliva: #606C38;
  --color-verde-oscuro: #45462A;
  --color-verde-pino: #26603F;
  --color-dark: #4e4e4e;
  --box-shadow: 0px 0px 5px #000

}
  
/* *{
  outline: 1px solid;
} */
/* Clases de color de fondo */
.bg-crema-claro {
  background-color: var(--color-crema-claro);
}

.bg-beige-claro {
  background-color: var(--color-beige-claro); 
}

.bg-durazno-suave {
  background-color: var(--color-durazno-suave);
}

.bg-naranja-tostado {
  background-color: var(--color-naranja-tostado);
}

.bg-verde-oliva {
  background-color: var(--color-verde-oliva);
}

.bg-verde-oscuro {
  background-color: var(--color-verde-oscuro);
}
.bg-verde-pino {
  background-color: var(--color-verde-pino);
}
.bg-color-dark {
  background-color: var(--color-dark);
}

/* Clases de color de texto */
.text-crema-claro {
  color: var(--color-crema-claro);
}

.text-beige-claro {
  color: var(--color-beige-claro);
}

.text-durazno-suave {
  color: var(--color-durazno-suave);
}

.text-naranja-tostado {
  color: var(--color-naranja-tostado);
}

.text-verde-oliva {
  color: var(--color-verde-oliva);
}

.text-verde-oscuro {
  color: var(--color-verde-oscuro);
  
}
.text-verde-pino {
  color: var(--color-verde-pino);
}
body {
  background-color: var(--color-crema-claro);
  font-family: Roboto, sans-serif;
  color: var(--color-verde-oscuro);
}
/*-------------estilos navbar-----------*/

.navbar .nav-link {
  color: var(--color-crema-claro);

}

.navbar .nav-link.active {
  color: var(--color-beige-claro);
  font-weight: bold;
}

.navbar-collapse { 
  flex-grow: 0; 
}

.navbar-toggler{
  border: 1px solid var(--color-crema-claro);
}
.navbar-toggler:hover{
  background-color: var(--color-crema-claro);
}
.navbar-toggler:hover > i{
  color: var(--color-verde-oscuro);
}
.navbar .input-search{
  width: 40%;
}


/*--------------- Estilos para el carrusel ---------------------*/
.carousel-item img {
  height: 500px; /* Puedes ajustar la altura según tus necesidades */
  object-fit: cover;
}
.carousel-indicators button {
  background-color: var(--color-verde-pino); 
  transition: background-color 0.3s ease, opacity 0.3s ease; 
}

.carousel-indicators button:hover {
  background-color: var(--color-verde-pino); 
}
.carousel-indicators  .active {
  background-color: var(--color-verde-pino); 
}
/*------------estilos sobre nosotros ------------------------*/
.conocenos {
  background-color: #f9f9f9;
}
.imagen-conocenos {
  box-shadow: 0px 0px 10px  #000 ;
}

/* -------------Estilos para la sección de productos destacados------------------------ */
section h2 {
  font-weight: bold;
  color: var(--color-verde-oscuro);
}
.card{
  border: none;
}
.img-producto{
  width: 300px;
}

.card-title {
  color: var(--color-verde-oscuro);
}

.card-text {
  color: var(--color-verde-oscuro);
}
.productoCard:hover{
  cursor: pointer!;
  transition: transform 0.2s ease;
}

.btn-primary:hover {
  background-color: var(--color-verde-oscuro);
}

.img-miniatura:hover{
  cursor: pointer;
}


  .zoom-container {
    position: relative;
    display: inline-block;
  }

  .zoom-image {
    cursor: zoom-in;
  }

  .zoom-result {
    position: absolute;
    top: 0;
    left: 100%; /* Mostrar a la derecha de la imagen */
    width: 500px; /* Ajusta el ancho del zoom */
    height: 500px; /* Ajusta el alto del zoom */
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    overflow: hidden;
    display: none; /* Ocultar por defecto */
    z-index: 10;
  }

  .zoom-result img {
    position: absolute;
    width: 200%; /* Ajusta el nivel de zoom */
    height: auto;
  }

